body{
    text-align: center;
}
.card{
    /* 設定父親定位點 */
    position: relative;
    width: 800px;
    
    float:center;
    margin: 100px;
  }
.dice{
    /*   display: none; */
      /*opacity: 0;*/  /*可見度*/
      position: absolute;
      box-sizing: border-box;
      /*background-color: rgba(0,0,0,.3);*/
      width: 80%;
      height: 100%;
      text-align: center;
      padding-top: 210px;
      padding-left: 170px;
    }
    
.randomNum{
    position: absolute;
    box-sizing: border-box;
      /*background-color: rgba(0,0,0,.3);*/
    text-align: left;
    padding-top: 80px;
    padding-left: 220px;
        
}

li{
    text-align: left;
}